<!DOCTYPE html>

<html class="no-js" lang="en">
  <!--<![endif]-->
  <head>
    <meta charset="utf-8" />

    <link rel="shortcut icon" href="{{url_for('static', filename='build/img/favicon.ico') }}">
    <title>
      Tricky Treats
    </title>

    <!-- Mobile viewport optimized: h5bp.com/viewport -->
    <meta name="viewport" content="width=device-width" />

    <link
      rel="stylesheet"
      type="text/css"
      href="{{ url_for('static', filename='build/main_css.bundle.css') }}"
    />

    {% block css %}{% endblock %}
  </head>
  <body>
    {% include 'fragments/flash.html' %}
    {% block content %}
    {% endblock %}

    <!-- JavaScript at the bottom for fast page loading -->
    <script src="{{ url_for('static', filename='build/main_js.bundle.js') }}"></script>
    {% block js %}{% endblock %}
    <!-- end scripts -->
  </body>
</html>
